.card-content {
    display: block;
    list-style-type: disc;
    margin: 10px;
    padding: 1px;
    color: rgb(156 163 175);
}

.constraint-item {
    gap:2px;
    margin-bottom: 0.8em;
    color: rgb(55, 65, 81);
    font-size: 12px;
}